---
---

@import "{{ site.theme }}";



.main-content {
    color: #0E2037; 
}
.main-content h1{
    color: #355C85; 
}
.main-content h2{
    color: #355C85; 
}
.main-content h3{
    color: #355C85; 
}
.main-content h4{
    color: #355C85; 
}
header {   
    background-color:: #E0DED4; 
    h1 {
        color: #0E2037;
    }
}

.banner {
    background-color: #E0DED4; 
}
.banner::before {
    background: none;
}
