---
---

@import "{{ site.theme }}";



body {
    color: #355C85;  
}

h1, h2, h3 {
    color: #355C85; 
}

header {   
    background: #E0DED4; 
    h1 {
        color: #355C85;
    }
}

#banner { 
    background: #E0DED4;
}
