---
---

@import "{{ site.theme }}";



body {
    font: #2A394B;
    color: #000000;
     h1 {
        color: #355C85;
    }
}

header {   
    background: #E0DED4; 
    h1 {
        color: #2A394B;
    }
}

#banner { 
    background: #E0DED4;
}
